
@{ 
 
}

<ul class="sidebar-menu" data-widget="tree">
    <li class="header"></li>
    <li class=""> <a asp-area="" asp-controller="Home" asp-action="Index"> <i class="glyphicon glyphicon-home"></i><span>Home</span> </a></li>
  
    <li class="treeview ">
        <a href="/Mantenimiento">
            <i class="glyphicon glyphicon-th-list"></i> <span>Mantenimiento</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a asp-area="" asp-controller="Departamentos" asp-action="Create">Crear Departamento</a></li>
            <li><a asp-area="" asp-controller="Cargos" asp-action="Create">Crear Cargo</a></li>
            <li><a asp-area="" asp-controller="Empleados" asp-action="Create">Agregar Empleado</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="/Procesos">
            <i class="glyphicon glyphicon-th"></i> <span>Procesos</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a asp-area="" asp-controller="Nominas" asp-action="Create">Calculos de nominas</a></li>
            <li><a asp-area="" asp-controller="Empleados" asp-action="Edit">Salida de empleado</a></li>
            <li><a asp-area="" asp-controller="Vacaciones" asp-action="Create">Registrar Vacaciones</a></li>
            <li><a asp-area="" asp-controller="Permisos" asp-action="Create">Autorizar Permisos</a></li>
            <li><a asp-area="" asp-controller="Licencias" asp-action="Create">Autorizar Licencia</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="/Informes">
            <i class="glyphicon glyphicon-th-large"></i> <span>Informes</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a asp-area="" asp-controller="Nominas" asp-action="Index">Mostrar nominas</a></li>
            <li><a asp-area="" asp-controller="Empleados" asp-action="Index">Empleados Activos</a></li>
            <li><a asp-area="" asp-controller="Empleados" asp-action="Index">Empleados Inactivos</a></li>
            <li><a asp-area="" asp-controller="Departamentos" asp-action="Index">Departamentos Existentes</a></li>
            <li><a asp-area="" asp-controller="Cargos" asp-action="Index">Cargos de Empleados</a></li>
            <li><a asp-area="" asp-controller="Empleados" asp-action="Index">Entrada de empleado por mes</a></li>
            <li><a asp-area="" asp-controller="Empleados" asp-action="Index">Salida de empleados por mes</a></li>
            <li><a asp-area="" asp-controller="Permisos" asp-action="Index">Permisos autorizados</a></li>
        </ul>
    </li>



    <li class="header">Opciones de Usuario</li>
    <!-- Optionally, you can add icons to the links -->
    <partial name="_LoginPartial" />
</ul>
