
@{ 
 
}

<ul class="sidebar-menu" data-widget="tree">
    <li class="header"></li>
    <li class=""> <a asp-area="" asp-controller="Home" asp-action="Index"> <i class="glyphicon glyphicon-home"></i><span>Home</span> </a></li>
  
    <li class="treeview ">
        <a href="/Mantenimiento">
            <i class="glyphicon glyphicon-th-list"></i> <span>Mantenimiento</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a asp-area="" asp-controller="Departamentos" asp-action="Create"><i class="glyphicon glyphicon-check"></i>Añadir Departamento</a></li>
            <li><a asp-area="" asp-controller="Cargos" asp-action="Create"><i class="glyphicon glyphicon-check"></i>Crear Cargo</a></li>
            <li><a asp-area="" asp-controller="Empleados" asp-action="Create"><i class="glyphicon glyphicon-check"></i>Agregar Empleado</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="/Procesos">
            <i class="glyphicon glyphicon-th"></i> <span>Procesos</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a asp-area="" asp-controller="Nominas" asp-action="Create"><i class="glyphicon glyphicon-check"></i>Calculos de nominas</a></li>
            <li><a asp-area="" asp-controller="SalidadeEmpleados" asp-action="Create"><i class="glyphicon glyphicon-check"></i>Salida de empleado</a></li>
            <li><a asp-area="" asp-controller="Vacaciones" asp-action="Create">Registrar Vacaciones</a></li>
            <li><a asp-area="" asp-controller="Permisos" asp-action="Create">Autorizar Permisos</a></li>
            <li><a asp-area="" asp-controller="Licencias" asp-action="Create">Autorizar Licencia</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="/Informes">
            <i class="glyphicon glyphicon-th-large"></i> <span>Informes</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            
            <li>
               
                <a asp-area="" asp-controller="Empleados" asp-action="Index"> <i class="glyphicon glyphicon-check"></i>Empleados Activos</a></li>
            <li><a asp-area="" asp-controller="Empleados" asp-action="Index2"><i class="glyphicon glyphicon-check"></i>Empleados Inactivos</a></li>
            <li><a asp-area="" asp-controller="Departamentos" asp-action="Index"><i class="glyphicon glyphicon-check"></i>Departamentos Existentes</a></li>
            <li><a asp-area="" asp-controller="Cargos" asp-action="Index"><i class="glyphicon glyphicon-check"></i>Cargos de Empleados</a></li>
            <li><a asp-area="" asp-controller="Empleados" asp-action="Entrys"><i class="glyphicon glyphicon-check"></i>Entrada de empleado</a></li>
            <li><a asp-area="" asp-controller="Empleados" asp-action="Exit"><i class="glyphicon glyphicon-check"></i>Salida de empleados</a></li>
            <li><a asp-area="" asp-controller="Permisos" asp-action="Index">Permisos autorizados</a></li>
        </ul>
    </li>



    <li class="header">Opciones de Usuario</li>
    <!-- Optionally, you can add icons to the links -->
    <partial name="_LoginPartial" />
</ul>
