@model DMHR.Models.SalidadeEmpleado

@{
    ViewData["Title"] = "Salida de Empleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h2 class="login-logo">@ViewData["Title"]</h2>
    <ol class="breadcrumb">
        <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="glyphicon glyphicon-home"></i><span>Home</span> </a></li>
        <li> <a class="" asp-area="" asp-page="/SalidadeEmpleados/Create"><i class="glyphicon glyphicon-th"></i><span>Procesos</span></a></li>
        <li> <a class="" asp-area="" asp-page="/SalidadeEmpleados/Create"><span>Salida Empleado</span></a></li>
    </ol>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Salida</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="box-body">
                        <div class="form-group">
                            <label asp-for="TipoDeSalida" class="control-label"></label>
                            @Html.DropDownList("TipoDeSalida",
                                new SelectList(Enum.GetValues(typeof(Salida))),
                                "Select Salida",
                                new { @class = "form-control" })
                            <span asp-validation-for="TipoDeSalida" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Motivo" class="control-label"></label>
                            <input asp-for="Motivo" class="form-control" />
                            <span asp-validation-for="Motivo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FechaSalida" class="control-label"></label>
                            <input asp-for="FechaSalida" type="date" class="form-control" />
                            <span asp-validation-for="FechaSalida" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EmpleadoId" class="control-label"></label>
                            @Html.DropDownListFor(model => model.EmpleadoId,(SelectList)ViewBag.Empleados,
                                                "Seleccione",
                                                new { @class = "form-control" })
                            <span asp-validation-for="EmpleadoId" class="text-danger"></span>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>