@{
    ViewData["Title"] = "About";
}



<section class="content-header">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!--------------------------
    | Your Page Content Here |
    -------------------------->
    <p>Use this area to provide additional information.</p>
</section>