@model DMHR.Models.Cargo

@{
    ViewData["Title"] = "Eliminar Cargo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h2 class="login-logo">@ViewData["Title"]</h2>
    <small>Estas seguro que quieres elimiar este cargo?</small>
    <ol class="breadcrumb">
        <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="glyphicon glyphicon-home"></i><span>Inicio</span></a></li>
        <li><a class="" asp-area="" asp-page="/Cargos/Delete"><i class="glyphicon glyphicon-th-large"></i><span>Informes</span></a></li>
        <li><a asp-action="Index">Cargos</a></li>
        <li><a class="" asp-area="" asp-page="/Cargos/Delete"><span>Eliminar</span></a></li>
    </ol>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <div class="">
        <div class="">
            <div class="login-box box-primary">
                <div class="login-logo with-border">
                </div>
                <div class="login-box-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CargoNombre)
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => model.CargoNombre)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <div class="margin">
                        <div class="btn-group">
                            <form asp-action="Delete">
                                <input type="hidden" asp-for="CargoId" />
                                <input type="submit" value="Eliminar" class="btn btn-danger" />
                                <hr />
                                <a asp-action="Index">Cancelar</a>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>