@model DMHR.Models.Cargo

@{
    ViewData["Title"] = "Editar Cargo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h2 class="login-logo">@ViewData["Title"]</h2>
    <ol class="breadcrumb">
        <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="glyphicon glyphicon-home"></i><span>Home</span> </a></li>
        <li> <a class="" asp-area="" asp-page="/Cargos/Edit"><i class="glyphicon glyphicon-th-large"></i><span>Informes</span></a></li>
        <li><a asp-action="Index">Cargos</a></li>
        <li> <a class="" asp-area="" asp-page="/Cargos/Edit"><span>Editar</span></a></li>
    </ol>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Cargo</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="CargoId" />
                    <div class="box-body">
                        <div class="form-group">
                            <label asp-for="CargoNombre" class="control-label">Nombre</label>
                            <input asp-for="CargoNombre" type="text" placeholder="Nombre" class="form-control" />
                            <span asp-validation-for="CargoNombre" class="text-danger"></span>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" value="Save" class="btn btn-primary">Guardar</button>
                        <hr />
                        <a asp-action="Index">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>